@import url("./normalize.css");

:root {
  --background-h1:rgba(0, 0, 0, 0.562);
}

* {
    margin: 0;
    padding: 0;
}

/* ------main-de-sevicios-------*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 4px solid green */
}

header{
  margin: 0px;
  width: auto;
  height: 80px;
  background: linear-gradient(to bottom right, rgb(88, 23, 126,0.9), rgb(23, 0, 65, 0.9));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-bottom: 1px rgb(0, 110, 129) solid;
}

.header {
  background: linear-gradient(to bottom right, rgb(88, 23, 126), rgb(23, 0, 65));
}

.brand {
  font-size:2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* border: 1px solid green; */
}

.myImagen{
  background-image: url(/img/avatar2.png);
  background-size:cover;
  margin-left: 60px;
  height:100%;
  width:95px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgb(56, 56, 56);
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
  /* border: 1px solid yellow; */
}

.myImagen :hover {
  box-shadow: 5px 5px 15px rgb(255, 0, 0);
}

.clear.fix {
  clear:both;
}

.links {
  max-width: 50%;
  width: 350px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 5px 5px 5px rgb(40, 0, 85);
  /* margin-right: 10px; */
}

.links :hover {
  text-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.body-index {
  background-image: url(/img/fondoFullStack-recortado.jpg);
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode:normal;
  background-repeat: no-repeat;
  background-size:100%;
  background-position:top;
  text-align: justify;
  border-color: darkgoldenrod;
}

h1 {
  display: flex;
  justify-content: flex-end;
  color: rgb(116, 246, 255);
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 55px;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(40, 0, 85);
  max-width: 550px;
  width:auto;
  height:auto;
  margin: 10px;
  /* box-shadow: 2px 2px black; */
  /* background-color: var(--background-h1); */
}

.h1-services,.h1-contact {
  color: linear-gradient(to bottom right, rgb(88, 23, 126,0.9), rgb(23, 0, 65, 0.9));
  color:  rgba(87, 17, 128, 0.9);
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 30px 50px;
  padding-left: 20px;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 55px;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(182, 182, 182);
  max-width: 550px;
  width:auto;
  height:auto;
  border-left: 8px solid goldenrod;
}


h2 {
  color: rgb(35, 0, 161);
  text-align: justify;
  font-size: 35px;
  font-family:'Ubuntu';
  text-shadow: 2px 2px 5px rgb(129, 129, 129);
}

p {
  color: black;
  background-size:cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  margin: 10px;
  padding: 15px;
  text-align: justify;
}

footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom right, rgb(88, 23, 126), rgb(23, 0, 65));
  border-top-left-radius: 100px;
  margin-top: 100px;
  /* border: 2px solid red; */
}

footer p {
  color: rgb(162, 255, 255);
}

.titulo {
  display: flex;
  justify-content: flex-end;
  margin-top: 250px;
  /* border: 2px solid red; */
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width:max-content;
  padding: 5px;
  margin-top: 100px;
  /* border: 2px solid blue; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 10px;
  justify-content:center;
  /* border: 2px solid green; */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.100));
}

/* Comienzo de los estilos de la fila de presetnacion */
.row-presentacion {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 10px;
  justify-content:center;
  align-items: center;
  font-size: 22px;
  background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.100));
  /* border: 2px solid green; */
}

.column-presentacion {
  max-width: 500px;
  width:auto;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px rgb(153, 153, 153);
  /* border: 2px solid green; */
}

.column-image-presentacion {
  /* flex:none; */
  display: flex;
  align-items:flex-end;
  max-width: 400px;
  width:auto ;
  padding: 10px;
  margin: 40px;
  border-radius: 10px;
  /* border: 2px solid black; */
}
/* Fin de los estilos de la fila de presentacion */

/* Inicio de los estilos de la fila de Lenguajes */
.row-lenguajes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 20px;
  border-radius: 10px;
  justify-content:center;
  font-size: 22px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.100));
  /* border: 2px solid green; */
}

.container-column-lenguajes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid blueviolet; */
}

.column-lenguaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 10px;
  margin: 40px;
  border-radius: 10px;
  background-color: white;
  /* box-shadow: 0px 0px 20px rgb(153, 153, 153); */
  /* border: 1px solid black; */
}

  /* .column-lenguaje :hover {
    box-shadow: 0px 0px 20px rgb(94, 118, 255);
  } */

.container-column-lenguajes :hover {
  box-shadow: 0px 0px 20px rgb(153, 153, 153);
  scale: 1,2;
  transition-timing-function: ease-in-out;
  transition-duration: 0,5s;
  
}

.column-lenguaje :hover {
  box-shadow: none;
  scale: 1,2;
}

.column-lenguaje p {
  font-size: 15px;
  text-align: center;
  /* font-size: small; */
  /* border: 1px solid red */
}

.column {
  /* flex:auto; */
  display: flex;
  align-items:center;
  justify-content: center;
  max-width: 450px;
  width:auto;
  padding: 10px;
  margin: 40px;
  border-radius: 10px;
  background-color: white;
  /* background: linear-gradient(rgba(255, 255, 255, 0.993), rgba(250, 247, 253, 0.973)); */
  box-shadow: 0px 0px 20px rgb(153, 153, 153);
  /* border: 2px solid green; */
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  /* border: 2px dashed black; */
}

.row-footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px dashed blue; */
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  /* border: 1px solid green; */
}

.title-about-me, .title-links-redes-sociales, .title-newsletter {
  font-size: 22px;
  color: white;
  text-shadow: 5px 5px 5px rgb(25, 0, 53);
}

.links-redes-sociales {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
}

.logos-redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  /* border: 1px solid green; */
  /* transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition: 0.3s all ease-in-out; */
}

.logos-redes-sociales :hover {
  scale: 1.15;
  transition: 0.2s;
  transition-timing-function: ease;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
}

.input-email {
  width: 240px;
  height: 30px;
  color: gray;
  border: none;
  box-shadow: 0px 0px 1px rgb(153, 153, 153);
  border-radius: 5px;
}

.input-email:hover {
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  /* border-style:hidden; */
}

.input-email:active {
  border-style:none;
  border-collapse: collapse;
  border-bottom-style: none;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  border: none;
  outline: none;
}

.check-label {
  color: lightgray;
  font-family:monospace;
  /* margin-top: 2px; */
}

.check-input {
  margin-top: 10px;
}

.btn-suscribirme {
  width: 240px;
  height: 30px;
  color: white;
  background-color: blueviolet;
  border: none;
  box-shadow: 0px 0px 1px rgb(153, 153, 153);
  border-radius: 5px;
  margin-top: 5px;
}

.btn-suscribirme:hover {
  background-color: rgb(50, 50, 255);
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  transition-duration: 0,5s ;
  transition-timing-function: ease;
}

.parrafo-footer {
  /* font-size: 10px; */
  font-family: monospace;
  color: lightgray;
  padding: 0px 5px 5px 5px;
  margin: 0px 5px 10px 5px;
  text-align: center;
}

/* ----------Estilos de la barra de navegacon-----------*/

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}

.brand {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

li>a {
  padding: 8px 24px;
}

li {
  list-style-type: none; /* quitar los estilos por defecto de la lista */
}

a {
  color: white;
  text-decoration:none;
}

.nav-links {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
  /* -------Estilos mios---------*/
  /* max-width: 50%; */
  /* width: 350px; */
  /* justify-content: space-between; */
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  text-shadow: 5px 5px 5px rgb(40, 0, 85);
  /* border: 1px solid yellow; */
}

.nav-links :hover {
  font-weight: bold;
  text-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.button-menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
 
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;
  }

}

/* fin de etilos ccs de la barra de navegacion */


/* ----------Estilos pagina Servisio-------------*/
.row-services {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px; */
  padding: 40px;
  /* border-radius: 10px; */
  justify-content:space-evenly;
  align-items: center;
  font-size: 22px;
  /* background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.100)); */
  /* border: 2px solid green; */
}

.column-services {
  align-self: center;
  max-width: 500px;
  width:auto;
  height: 100%;
  padding: 20px 40px 20px 80px;
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  /* margin: 40px; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 15px rgb(153, 153, 153);
  /* border: 2px solid green; */
}

#desarrollo-de-sitios-web {
  align-self: center;
  max-width: 500px;
  width:auto;
  height: 100%;
  padding: 20px 40px 20px 80px;
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  /* margin: 40px; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(to bottom right, rgb(88, 23, 126), rgb(23, 0, 65));
  box-shadow: 0px 0px 15px rgb(153, 153, 153);
  /* border: 2px solid green; */
}

#desarrollo-de-sitios-web h2 {
  
  color: rgb(255, 200, 0);
  text-shadow: 5px 5px 5px rgb(40, 0, 85);
  /* font-weight: lighter; */
  /* font-size: 40px; */
}

#desarrollo-de-sitios-web p {
  color: white;
  font-weight: lighter;
}

.column-image-services {
  max-width: 400px;
  /* box-shadow: 0px 0px 15px rgb(153, 153, 153); */
  /* border: 2px solid red; */
}

.img-services {
  align-self: stretch;
  /* border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; */
  border-radius: 30px;
  height: 100%;
  box-shadow: 0px 0px 15px rgb(153, 153, 153);
  /* border: 2px solid green; */
  /* transform: rotateX(0deg) skew(0deg) translate(0,0); */
  /* transition: 0.3s all ease-in-out; */
}

/* --------estilos para contact------- */

.container-contact {
  margin: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: flex-end;
  background-image: url(/img/contact.jpeg);
  background-repeat: no-repeat;
  background-size:contain;
  /* background-size: 100%; */
  /* border: 1px solid black; */

}

.section-contact {
  width: 500px;
  height: 100%;
  /* background: linear-gradient(to bottom right, rgb(88, 23, 126, 0.1), rgb(23, 0, 65, 0.1)); */
  border-bottom-right-radius: 20px;
  padding: 15px 0px 0px 20px;
  /* border: 1px solid black; */
}

.section-contact p {
  font-weight:normal;
  font-size: 20px;
  color: rgb(98, 98, 98);
  text-shadow: 1px 1px 5px rgb(104, 104, 104);
  /* border: 1px solid black; */
}

h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: Ubuntu;
  color: rgb(35, 0, 161);
  /* color: goldenrod; */
  text-shadow: 1px 1px 5px rgb(59, 59, 59);
}

.greeting {
  text-align: center;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
